#root {
  margin: 0;
  padding: 0;
  text-align: center;
}
/* app.css */
body {
  margin: 0;
  padding: 0;
}

main {
  padding-top: 4rem; /* Adjust based on Navbar height */
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#ul{
  display: flex;
}

.li{
  padding: 20px;
  border-right: white solid 1px;
  font-weight: 700;
  font-style: italic;
  color: white;
  background-color: #EC3642;
  font-size: 15px;
}

.li:hover{
  padding: 20px;
  border-right: white solid 1px;
  cursor: pointer;
  font-weight: 700;
  font-style: italic;
  color: #EC3642;
  background-color: white;
  font-size: 15px;
}

.slick-prev, .slick-next {
  width: 50px;
  height: 50px;
  z-index: 1;
  background-color: #EC3642;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slick-prev:hover, .slick-next:hover {
  background-color: #C12A35; /* Slightly darker shade for hover effect */
}

.slick-prev:before, .slick-next:before {
  font-size: 20px;
  color: white;
  opacity: 1;
}
